
{{!-- this file takes the information passed into the template-builder from the function that was defined and executed in movies-controller, and it builds the bones of the movie file to be displayed into the dom through the controller --}}

<div class="container">
  <div class="movie-list">
    {{#each movies}}
      <div class="movie" id= {{id}}>
        <span class="movie-header">
          <p>{{title}}</p>
          <p>{{year}}</p>
          <button type="button" id="deleteMovieBtn">Delete</button>
        </span>
      <div>
        <img class="poster-img" src={{poster}}>
      </div>
      <div class="rating">*****</div>
      <div class="summary">{{summary}}</div>
      <div class="cast">{{cast}}</div>
      <div class="watched">
        <button id="watchedMovieBtn">Watched</button>
      </div>
      <div id="ratingButtons">
        <button id="ratingStars">Rating Stars</button>
        <span>☆☆☆☆☆</span>
      </div>
      <div>
        <button id="addToWatchlist">Add to Watchlist</button>
      </div>
    {{/each}}
  </ul>

{{!-- </div> --}}
<div class="container">
  <ul class="movie-list">
    {{#each movies}}
      <li class="movie-list__item">
        <span class="movie-title"}>{{title}}</span>
        <ul class="movie-list__item--data">
          <li>{{overview}}</li>
          <li>{{year}}</li>
          <li>{{poster}}</li>
          <li>{{genre}}</li>
          {{!-- <li>{{}}</li> --}}
        </ul>
        <a href="#" data-delete-id="{{id}}" class="edit-btn waves-effect waves-light btn">edit</a>
        <a href="#" data-delete-id="{{id}}" class="delete-btn waves-effect waves-light btn">delete</a>
      </li>
    {{/each}}
  </ul>
</div>

