{{!-- this file takes the information passed into the template-builder from the function that was defined and executed in movies-controller, and it builds the bones of the movie file to be displayed into the dom through the controller --}}

{{!-- <div class="container"> --}}
  <ul class="movie-list">
    {{#each movies}}
      <li class="movie-list__item">
        <span class="movie-title"}>{{title}}</span>
        {{!-- <ul class="movie-list__item--data"> --}}
          {{!-- <li>{{overview}}</li>
          <li>{{year}}</li>
          <li>{{poster}}</li>
          <li>{{genre}}</li> --}}
        {{!-- </ul> --}}
        <a href="#" data-delete-id="{{id}}" class="edit-btn waves-effect waves-light btn">edit</a>
        <a href="#" data-delete-id="{{id}}" class="delete-btn waves-effect waves-light btn">delete</a>
      </li>
      <div id="ratingButtons">
        <button id="addToWatchlist">Add to Watchlist</button>
        <button id="watchedMovieBtn">Watched</button>
        <button id="ratingStars">Rating Stars</button>
        <span>☆☆☆☆☆</span>
      </div>
    {{/each}}
  </ul>
{{!-- </div> --}}
